과제12. 레드벨벳 멤버의 데이터프레임(df)에서 연속된 여러 줄을 찾는 과제입니다.
'다니엘'부터 '혜인'까지의 '학번'과 '역할'만을 확인할 수 있도록 출력해보세요!
(인덱싱과 슬라이싱 모두 사용)

In [64]:
import pandas as pd

# 레드벨벳 멤버 정보 데이터프레임 생성
lst = [['민지', 15, '커뮤', 'AI', '회장'], ['다니엘', 16, '경영', '심리', '교육팀장'],
       ['하니', 17, '경영', '빅사', '교육팀원'], ['해린', 19, '경영', '빅사', '교육팀원'],
       ['혜인', 16, '경제', '빅사', '교육팀원']]
df = pd.DataFrame(lst, columns=['이름', '학번', '전공', '복수전공', '역할'])
df = df.set_index('이름')

# '다니엘'부터 '혜인'까지의 '학번'과 '역할'을 슬라이싱하여 출력
start_index = df.index.get_loc('다니엘')  # '다니엘'의 인덱스 위치
end_index = df.index.get_loc('혜인') + 1  # '혜인' 다음 인덱스 위치
print(df[start_index:end_index][['학번', '역할']])

     학번    역할
이름
다니엘  16  교육팀장
하니   17  교육팀원
해린   19  교육팀원
혜인   16  교육팀원

과제 13
df_new3에 본인 포함 2명의 정보를 추가하고(행), 새로운 열을 만들어보자!

In [65]:
#데이터프레임 생성
df = pd.DataFrame({'이름': ['이찬중'], '학교': ['서강대학교'],})

#새로운 행 추가
df_new1 = pd.DataFrame({'이름': ['이진행'], '학교': ['성균관대학교'],})
df_new2 = pd.DataFrame({'이름': ['강찬혁'], '학교': ['성균관대학교'],})
df_new3 = pd.concat([df, df_new1, df_new2], ignore_index=True)

#새로운 열 추가
df_new3['학과'] = ['아트앤테크놀로지', '화학과', '경제학과']
df_new3['비고'] = ['데이터 학회원', '석사졸업 후 연구원','CPA 준비중']

print(df_new3)

    이름      학교        학과          비고
0  이찬중   서강대학교  아트앤테크놀로지     데이터 학회원
1  이진행  성균관대학교       화학과  석사졸업 후 연구원
2  강찬혁  성균관대학교      경제학과     CPA 준비중